<a href="https://colab.research.google.com/github/cozmic-27/Chicago_SQL_Project/blob/main/Chicago__SQL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3

# Establish a connection to the SQLite database
conn = sqlite3.connect('FinalDB.db')

In [ ]:
%load_ext sql

In [ ]:
# Define URLs for the datasets
census_data_url = "https://data.cityofchicago.org/resource/kn9c-c2s2.csv"
chicago_public_schools_url = "https://data.cityofchicago.org/resource/9xs2-f89t.csv"
chicago_crime_data_url = "https://data.cityofchicago.org/resource/ijzp-q8t2.csv"

# Load data into pandas dataframes
census_data_df = pd.read_csv(census_data_url)
chicago_public_schools_df = pd.read_csv(chicago_public_schools_url)
chicago_crime_data_df = pd.read_csv(chicago_crime_data_url)

# Load dataframes into SQLite tables
census_data_df.to_sql('CENSUS_DATA', conn, if_exists='replace', index=False)
chicago_public_schools_df.to_sql('CHICAGO_PUBLIC_SCHOOLS', conn, if_exists='replace', index=False)
chicago_crime_data_df.to_sql('CHICAGO_CRIME_DATA', conn, if_exists='replace', index=False)

1000

In [ ]:
%sql sqlite:///FinalDB.db

In [ ]:
# Total amount of crime recorded

In [ ]:
%%sql select count(*) as TOTAL_CRIMES
from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(1000,)]

In [ ]:
# Community areas with poverty index over 40 selected

In [ ]:
%sql select community_area_name from CENSUS_DATA where PERCENT_HOUSEHOLDS_BELOW_POVERTY > 40.0

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('East Garfield Park',),
 ('North Lawndale',),
 ('Armour Square',),
 ('Fuller Park',),
 ('Washington Park',),
 ('Riverdale',),
 ('Englewood',)]

In [ ]:
# Case numbers involving minors extracted from dataset

In [ ]:
%sql select case_number from CHICAGO_CRIME_DATA where description like '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('JH159716',),
 ('JH159611',),
 ('JH159385',),
 ('JH160228',),
 ('JH159029',),
 ('JH161448',),
 ('JH160120',),
 ('JH158969',),
 ('JH158519',),
 ('JH158503',),
 ('JH158349',),
 ('JH158134',)]

In [ ]:
# Crime involving the keywords "Theft" and "Residence" extracted to determine the amount of suspected home robberies

In [ ]:
%sql select * from CHICAGO_CRIME_DATA where primary_type like '%THEFT%' and location_description like '%RESIDENCE%'

 * sqlite:///FinalDB.db
Done.

[(13378699, 'JH164164', '2024-02-20T22:30:00.000', '034XX N MILWAUKEE AVE', '0810', 'THEFT', 'OVER $500', 'RESIDENCE - GARAGE', 0, 0, 1731, 17, 30, 16, '06', 1148109.0, 1922566.0, 2024, '2024-02-28T15:41:06.000', 41.943469988, -87.731029517, '\n,  \n(41.943469988, -87.731029517)'),
 (13377065, 'JH161647', '2024-02-20T22:04:00.000', '047XX N DRAKE AVE', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE', 0, 0, 1723, 17, 33, 14, '06', 1151865.0, 1931242.0, 2024, '2024-02-28T15:41:06.000', 41.967204294, -87.716994839, '\n,  \n(41.967204294, -87.716994839)'),
 (13377088, 'JH162186', '2024-02-20T22:03:00.000', '047XX N DRAKE AVE', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE', 0, 0, 1723, 17, 33, 14, '06', 1151865.0, 1931242.0, 2024, '2024-02-28T15:41:06.000', 41.967204294, -87.716994839, '\n,  \n(41.967204294, -87.716994839)'),
 (13376008, 'JH160200', '2024-02-20T22:00:00.000', '076XX N GREENVIEW AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 2422, 24, 49, 1, '06', 1164973.0, 1950635.0, 2024, '2024-02-28T15:41:06.000', 42.020150332, -87.668244522, '\n,  \n(42.020150332, -87.668244522)'),
 (13376736, 'JH161586', '2024-02-20T20:00:00.000', '024XX N LINCOLN AVE', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE - GARAGE', 0, 0, 1935, 19, 43, 7, '06', 1170377.0, 1916322.0, 2024, '2024-02-28T15:41:06.000', 41.925877649, -87.649366429, '\n,  \n(41.925877649, -87.649366429)'),
 (13376388, 'JH161371', '2024-02-20T19:52:00.000', '006XX W BARRY AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 1934, 19, 44, 6, '06', 1171413.0, 1920707.0, 2024, '2024-02-28T15:41:06.000', 41.937887537, -87.645430392, '\n,  \n(41.937887537, -87.645430392)'),
 (13376052, 'JH160065', '2024-02-20T18:21:00.000', '076XX N SHERIDAN RD', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 2422, 24, 49, 1, '06', 1165467.0, 1950780.0, 2024, '2024-02-28T15:41:06.000', 42.020537666, -87.666422486, '\n,  \n(42.020537666, -87.666422486)'),
 (13377083, 'JH162030', '2024-02-20T16:01:00.000', '013XX N CAMPBELL AVE', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE', 0, 0, 1423, 14, 26, 24, '06', 1159496.0, 1908825.0, 2024, '2024-02-28T15:41:06.000', 41.905536524, -87.689555463, '\n,  \n(41.905536524, -87.689555463)'),
 (13376057, 'JH159965', '2024-02-20T15:58:00.000', '066XX S KEELER AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 0, 0, 833, 8, 13, 65, '06', 1149513.0, 1860287.0, 2024, '2024-02-28T15:41:06.000', 41.772541609, -87.727484279, '\n,  \n(41.772541609, -87.727484279)'),
 (13375913, 'JH160866', '2024-02-20T15:55:00.000', '018XX S JEFFERSON ST', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 0, 0, 1235, 12, 25, 31, '06', 1172622.0, 1891385.0, 2024, '2024-02-28T15:41:06.000', 41.857399593, -87.641855668, '\n,  \n(41.857399593, -87.641855668)'),
 (13374814, 'JH159665', '2024-02-20T15:53:00.000', '116XX S ADA ST', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 0, 0, 524, 5, 21, 53, '06', 1169422.0, 1827549.0, 2024, '2024-02-28T15:41:06.000', 41.682295704, -87.655448246, '\n,  \n(41.682295704, -87.655448246)'),
 (13376051, 'JH159964', '2024-02-20T15:52:00.000', '008XX W Roscoe St', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 1924, 19, 44, 6, '06', 1169921.0, 1922776.0, 2024, '2024-02-28T15:41:06.000', 41.943597681, -87.650853204, '\n,  \n(41.943597681, -87.650853204)'),
 (13375424, 'JH160191', '2024-02-20T15:01:00.000', '023XX N CLYBOURN AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 1811, 18, 2, 7, '06', 1165441.0, 1915547.0, 2024, '2024-02-28T15:41:06.000', 41.923857611, -87.667525821, '\n,  \n(41.923857611, -87.667525821)'),
 (13374761, 'JH159582', '2024-02-20T15:00:00.000', '043XX W 77TH PL', '0810', 'THEFT', 'OVER $500', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 834, 8, 18, 70, '06', 1148752.0, 1852996.0, 2024, '2024-02-28T15:41:06.000', 41.752548543, -87.730461248, '\n,  \n(41.752548543, -87.730461248)'),
 (13374416, 'JH159093', '2024-02-20T12:15:00.000', '015XX S HAMLIN AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 1014, 10, 24, 29, '06', 1151296.0, 1892168.0, 2024, '2024-02-28T15:41:06.000', 41.859992856, -87.720114215, '\n,  \n(41.859992856, -87.720114215)'),
 (13380517, 'JH166296', '2024-02-20T12:00:00.000', '066XX S ST LAWRENCE AVE', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - YARD (FRONT / BACK)', 0, 0, 321, 3, 20, 42, '06', 1181374.0, 1861177.0, 2024, '2024-02-28T15:41:06.000', 41.774308589, -87.610663654, '\n,  \n(41.774308589, -87.610663654)'),
 (13377854, 'JH163155', '2024-02-20T11:30:00.000', '053XX S SPAULDING AVE', '0810', 'THEFT', 'OVER $500', 'RESIDENCE', 0, 0, 822, 8, 14, 63, '06', 1155289.0, 1868960.0, 2024, '2024-02-28T15:41:06.000', 41.796227989, -87.706078911, '\n,  \n(41.796227989, -87.706078911)'),
 (13375275, 'JH159057', '2024-02-20T11:15:00.000', '006XX S LOOMIS ST', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 0, 0, 1231, 12, 28, 28, '06', 1167146.0, 1897410.0, 2024, '2024-02-28T15:41:06.000', 41.874051956, -87.661782668, '\n,  \n(41.874051956, -87.661782668)'),
 (13374582, 'JH158694', '2024-02-20T06:50:00.000', '009XX W 115TH PL', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE', 0, 1, 524, 5, 21, 53, '06', 1171923.0, 1828274.0, 2024, '2024-02-28T15:41:06.000', 41.684230856, -87.64627195, '\n,  \n(41.684230856, -87.64627195)'),
 (13374597, 'JH159281', '2024-02-20T03:50:00.000', '016XX W SHERWIN AVE', '0810', 'THEFT', 'OVER $500', 'RESIDENCE', 0, 0, 2423, 24, 49, 1, '06', 1164156.0, 1948718.0, 2024, '2024-02-28T15:41:06.000', 42.014907434, -87.671305577, '\n,  \n(42.014907434, -87.671305577)'),
 (13374112, 'JH158633', '2024-02-19T23:00:00.000', '023XX W 100TH ST', '0910', 'MOTOR VEHICLE THEFT', 'AUTOMOBILE', 'RESIDENCE', 0, 0, 2213, 22, 19, 72, '07', 1162677.0, 1838271.0, 2024, '2024-02-27T15:41:42.000', 41.711861729, -87.679841245, '\n,  \n(41.711861729, -87.679841245)'),
 (13374953, 'JH159004', '2024-02-19T19:35:00.000', '073XX S CRANDON AVE', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 334, 3, 7, 43, '06', 1192819.0, 1856659.0, 2024, '2024-02-27T15:41:42.000', 41.761639287, -87.568856231, '\n,  \n(41.761639287, -87.568856231)'),
 (13373789, 'JH158275', '2024-02-19T17:00:00.000', '132XX S EBERHART AVE', '0810', 'THEFT', 'OVER $500', 'RESIDENCE', 0, 0, 533, 5, 10, 54, '06', 1181661.0, 1817068.0, 2024, '2024-02-27T15:41:42.000', 41.653261286, -87.610968139, '\n,  \n(41.653261286, -87.610968139)'),
 (13373720, 'JH158303', '2024-02-19T14:50:00.000', '026XX W 35TH PL', '0820', 'THEFT', '$500 AND UNDER', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 911, 9, 12, 58, '06', 1159375.0, 1881027.0, 2024, '2024-02-27T15:41:42.000', 41.829258557, -87.69076427, '\n,  \n(41.829258557, -87.69076427)'),
 (13375489, 'JH160291', '2024-02-19T13:02:00.000', '073XX S SOUTH SHORE DR', '0890', 'THEFT', 'FROM BUILDING', 'RESIDENCE - PORCH / HALLWAY', 0, 0, 334, 3, 7, 43, '06', 1195179.0, 1857404.0, 2024, '2024-02-27T15:41:42.000', 41.763625742, -87.560182233, '\n,  \n(41.763625742, -87.560182233)')]

In [ ]:
# Types of offenses recorded at schools noted

In [ ]:
%sql select distinct(primary_type) from CHICAGO_CRIME_DATA where location_description like '%school%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY',), ('OFFENSE INVOLVING CHILDREN',), ('ASSAULT',), ('THEFT',)]

In [ ]:
# Average safety score per school recorded

In [ ]:
%%sql
SELECT DISTINCT "NAME_OF_SCHOOL", AVG(safety_score) AS avg_safety_score
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY "NAME_OF_SCHOOL" LIMIT 20;

 * sqlite:///FinalDB.db
Done.

[('A.N. Pritzker School', 59.0),
 ('Abraham Lincoln Elementary School', 99.0),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 54.0),
 ('Adlai E Stevenson Elementary School', 61.0),
 ('Agustin Lara Elementary Academy', 56.0),
 ('Air Force Academy High School', 49.0),
 ('Al Raby High School', 52.0),
 ('Albany Park Multicultural Academy', 66.0),
 ('Albert G Lane Technical High School', 88.0),
 ('Albert R Sabin Elementary Magnet School', 67.0),
 ('Alcott High School for the Humanities', 70.0),
 ('Alessandro Volta Elementary School', 43.0),
 ('Alex Haley Elementary Academy', 28.0),
 ('Alexander Graham Bell Elementary School', 99.0),
 ('Alexander Graham Elementary School', 49.0),
 ('Alexander Hamilton Elementary School', 73.0),
 ('Alexander von Humboldt Elementary School', 31.0),
 ('Alfred David Kohn Elementary School', 19.0),
 ('Alfred Nobel Elementary School', 37.0),
 ('Alice L Barnard Computer Math & Science Center Elementary School', 46.0)]

In [ ]:
# Percentage of community areas living under poverty

In [ ]:
%%sql
select community_area_name, percent_households_below_poverty from CENSUS_DATA
order by percent_households_below_poverty DESC limit 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [ ]:
# Street block with highest amount of crime

In [ ]:
%%sql
select BLOCK, count(*) as frequency from CHICAGO_CRIME_DATA
group by BLOCK order by frequency DESC limit 1

 * sqlite:///FinalDB.db
Done.

[('020XX N MILWAUKEE AVE', 4)]

In [ ]:
# Community area with highest hardship index

In [ ]:
%%sql
select community_area_name from CENSUS_DATA where hardship_index = (select max(hardship_index)from CENSUS_DATA)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

In [ ]:
# Derived table created with name of school and instruction score

In [ ]:
%%sql
SELECT CPS.name_of_school, IST.Instruction_Score
FROM (
    SELECT name_of_school, Instruction_Score
    FROM CHICAGO_PUBLIC_SCHOOLS
    ORDER BY Instruction_Score DESC
    LIMIT 10
) AS IST
JOIN CHICAGO_PUBLIC_SCHOOLS AS CPS ON CPS.name_of_school = IST.name_of_school;

 * sqlite:///FinalDB.db
Done.

[('Burnham Elementary Inclusive Academy', 99.0),
 ('Ellen Mitchell Elementary School', 95.0),
 ('Frederic Chopin Elementary School', 99.0),
 ('Ida B Wells Preparatory Elementary Academy', 93.0),
 ('Ignance Paderewski Elementary Learning Academy', 98.0),
 ('John A Walsh Elementary School', 91.0),
 ('Nathan R Goldblatt Elementary School', 99.0),
 ('Stephen Decatur Classical Elementary School', 99.0),
 ('Talman Elementary School', 99.0),
 ('William Penn Elementary School', 99.0)]